# src/Skynettechnologies/SyliusAllinOneAccessibilityPlugin/Resources/config/routes.yaml
skynettechnologies_all_in_one_accessibility_admin:
    resource: "@SkynettechnologiesSyliusAllinOneAccessibilityPlugin/Controller/Admin/"
    type: attribute
    prefix: /admin


sylius_all_in_one_accessibility_plugin.index.admin:
    path: /admin/allinoneaccessibility/{page}
    controller: Skynettechnologies\SyliusAllinOneAccessibilityPlugin\Controller\Admin\DefaultAdminController::adminAction
    defaults:
        page: 1
    methods: [GET]
