# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Importing other configuration files that define services
imports:
    - { resource: services/event_listener.yaml }
    - { resource: services/fixture.yaml }
    - { resource: services/form.yaml }
    - { resource: services/twig.yaml }

services:
    Skynettechnologies\SyliusAllinOneAccessibilityPlugin\Controller\Admin\DefaultAdminController:
        arguments:
            $client: '@Symfony\Contracts\HttpClient\HttpClientInterface'
            $connection: '@doctrine.dbal.default_connection'
        tags:
            - { name: controller.service_arguments }

    Skynettechnologies\SyliusAllinOneAccessibilityPlugin\Menu\AdminMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addAdminMenuItems }


    Skynettechnologies\SyliusAllinOneAccessibilityPlugin\Twig\AllinOneAccessibilityExtension:
        tags: [ 'twig.extension' ]

    Skynettechnologies\SyliusAllinOneAccessibilityPlugin\:
        resource: '../../'
        exclude:
            - '../../DependencyInjection/'
            - '../../Resources/'
            - '../../Tests/'

    # Define the AllInOneAccessibility fixture
    Skynettechnologies\SyliusAllinOneAccessibilityPlugin\Fixture\AllinOneAccessibilityFixture:
        arguments:
        # You can inject repositories or factories here if needed
        # $exampleFactory: '@skynettechnologies_sylius_allinoneaccessibility_plugin.fixture.example_factory.allinoneaccessibility'
        tags:
            - { name: sylius.fixture, priority: 0 }
