{{ render(url('skynettechnologies_sylius_allinoneaccessibility_plugin_shop_partial_allinoneaccessibility', {'template': '@SkynettechnologiesSyliusAllinOneAccessibilityPlugin/Shop/AllinOneAccessibility/_allinoneaccessibility.html.twig'})) }}
<div class="ui hidden divider"></div>
